@font-face {
    font-family: "Barlow";
    src: url('../font/Barlow-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Barlow-Light";
    src: url('../font/Barlow-Light.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat";
    src: url('../font/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat-Italic";
    src: url('../font/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

body {
    background-color: #E5EBF8;
    display: flex;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container h2 {
   /* margin-bottom: 30px;*/
    color: #333;
}

.login-container input[type="email"],
.login-container input[type="text"],
.login-container input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 0px solid #ddd;
    box-sizing: border-box;
/*    font-size: 16px;*/
}

.login-container button {
    font-family: "Montserrat", sans-serif;
    background-color: #E5EBF8;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
/*    font-size: 16px;*/

}

.login-container button:hover {
    background-color: #779BDD;
}

.error-message {
    color: red;
    margin-bottom: 20px;
    text-align: left;
}

.login-container form {
    padding: 20px;
    border-radius: 20px;
    margin:0px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 300px;
    padding: 10px;
    margin: 5px 0; /* Marges uniforme en haut et en bas */
    border: 0px solid #ccc;
    border-radius: 20px;
/*    font-size: 16px;*/
    font-family: Montserrat-Italic;
    color: #333;
    background-color: #F4F4F4;
    box-sizing: border-box; /* Inclusion des bordures et paddings */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    outline: none;
    border-color: #779BDD;
}

textarea {
    resize: vertical;
    height: 150px;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#notification-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 600px;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    z-index: 1001;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  #notification-container.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }
  
  #notification-container.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }
  